<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to FixNix Audit Management</h1>
    <p>
      You have successfully signed up to FixNix Audit Management,
    </p>
    <p>Thanks for joining and have a great day!</p>
    <p>Sreenivas</p>
  </body>
</html>