<!DOCTYPE html>
<html>
<head>
	<title>FixNix Audit Management -- Dahsboard</title>
<script type="text/javascript">
      $(function () {
          $('#container').highcharts({
              chart: {
                  plotBackgroundColor: null,
                  plotBorderWidth: null,
                  plotShadow: false
              },
              title: {
                  text: ' Audit shares for specific type '
              },
              tooltip: {
                  pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
              },
              plotOptions: {
                  pie: {
                      allowPointSelect: true,
                      cursor: 'pointer',
                      dataLabels: {
                          enabled: true,
                          color: '#000000',
                          connectorColor: '#000000',
                          format: '<b>{point.name}</b>: {point.percentage:.1f} %'
                      }
                  }
              },
              series: [{
                  type: 'pie',
                  name: 'Audit Counts',
                  data: [
                      ['Internal',  <% @intern.each do |inn| %>
                                    <%= inn.count %>
                   <% end %> ],
                      ['External',       <% @extern.each do |enn| %>
                                          <%= enn.count %>
                                             <% end %>]

                  ]
              }]
          });
      });


  </script>
  
</head>
<body>

<!-- Rendering Menu -->
	<%= render :partial => 'layouts/menu' %>


<!-- Code for Counts -->
<div class="container">

  <div class="row-fluid">

    <div class="col-lg-2" style="margin-left:1px">
      <small>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <center>Initiated Audit</center> 
          </div>
          <div class="panel-body">
            <center>
              <% @count_audit.each do |audit| %>
                <%= audit.totl %>
              <% end %>
            </center>
         </div>
        </div>
      </small>
    </div>
  </div>
</div>

<!-- End of count -->

<div class="container"> 

  <div class="row-fluid">
    <div id="container" style="min-width: 600px; height: 400px;  float:left;">
    </div>
  </div>
  
</div>


</body>
</html>