<!DOCTYPE html>
<html>
<head>
	<title>FixNix Audit Management -- Dahsboard</title>
</head>
<body>

<!-- Rendering Menu -->
	<%= render :partial => 'layouts/menu' %>


<!-- Code for Counts -->
<div class="container">

  <div class="row-fluid">

    <div class="col-lg-2" style="margin-left:1px">
      <small>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <center>Initiated Audit</center> 
          </div>
          <div class="panel-body">
            <center>
              <% @count_audit.each do |audit| %>
                <%= audit.totl %>
              <% end %>
            </center>
         </div>
        </div>
      </small>
    </div>
  </div>
</div>

<!-- End of count -->
</body>
</html>