<!DOCTYPE html>
<html>
<head>
	<title>Edit Your Audit</title>
</head>
<body>

<!-- Rendering Menu -->
	<%= render :partial => 'layouts/menu' %>

<!-- Renderinf Form -->
	<%= render "form" %>

</body>
</html>


