<div class="navbar">
	<div class="navbar-inner">
		<a class="brand" href="#">FixNix Audit</a>
		<ul class="nav">
			<li><a href="/">Dashboard</a></li>
			<li><a href="/">Calendar</a></li>
			<li><a href="/">MyTask</a></li>
			<li><a href="/auditinits">Audit Initiation</a></li>
			<li><a href="/">Pre Audit</a></li>
			<li><a href="/">Audit Investigation</a></li>
			<li><a href="/">Post Audit </a></li>
			<li><a href="/">Follow Up </a></li>
			<ul class="nav navbar-nav navbar-right">
				<li class="dropdown">
					<a href="/"  class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/">Configure</a></li>
						<li><a href="/">Coso Scale</a>
						<li><a href="/">Score Card</a>
						<li><a href="/">User Management</a></li>
						<li><a href="/">Audit Trail</a></li>
						<li><a href="/">Escalation Matrix</a></li>
					</ul>
				</li>
			</ul>
		</ul>
	</div>
</div>