<div class="navbar navbar-default navbar-static-top" role="navigation">
<div class="container-">
<!-- Logo/Company Name -->
	<div class="navbar-header">
		<a href="#" class="navbar-brand">FixNix Audit Management</a>
	</div>
<!-- End of Logo/Company Name -->


<!-- Menu Division  -->
	<div>
		<ul class="nav navbar-nav">

			<li class="active"><a href="/">Dashboard</a></li>
			<li><a href="/calendars">Calendar</a></li>
			<li><a href="/">MyTask</a></li>
			<li><a href="/auditinits">Audit Initiation</a></li>
			<li><a href="/">Pre Audit</a></li>
			<li><a href="/">Audit Investigation</a></li>
			<li><a href="/">Post Audit </a></li>
			<li><a href="/">Follow Up </a></li>
			
		</ul>
		<ul class="nav navbar-nav navbar-right">
        	<li class="dropdown">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
          		<ul class="dropdown-menu">
            		<li><a href="/configures">Configure</a></li>
						<li><a href="/">Coso Scale</a>
						<li><a href="/">Score Card</a>
						<li><a href="/">User Management</a></li>
						<li><a href="/">Audit Trail</a></li>
						<li><a href="/">Escalation Matrix</a></li>
          		</ul>
        	</li>
        	<% if user_signed_in? %>
        	<li class="dropdown">
          		<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.email %><b class="caret"></b></a>
          		<ul class="dropdown-menu">
						<li><%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %></li>
						<li><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %></li>
          		</ul>
        	</li>
        	<% end %>
      	</ul> 
	</div>
<!-- End of Menu Division  -->

</div>
</div>
